<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
  <body>
 <!-- /container -->
    <div class="container">
      <a href="/facebook/auth/" class="btn btn-success">FACEBOOK_AUTH</a>
    </div>
 <!-- /container -->
  </body>
	<script type="text/javascript">
	</script>
</html>
