<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
  <body>
 <!-- /container -->
    <div class="container">
			<div class="row">
				<div class="col-md-4">
						<% if (user) { %>
							<label>accessToken: </label>
							<input type="text"value=
						 <%= user.accessToken %>
						 >
					 </div>
						<% } %>
				</div>
				<div class="row">
					<hr>
					<h3><%=data.name %> <img src=<%=data.picture.data.url %> alt="" class="img-rounded"></h3>
				</div>
				<%=data.about%>
			</div>
    </div>
 <!-- /container -->
  </body>
</html>
